/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

$columnal-grid-width: 960px !default

// http://colorschemedesigner.com/#3C62P--fyg0g0
$blue: #002551
$pink: #5A0046
$green: #5A7600
$orange: #7C4C00

@import compass/reset
@import columnal/grid

h1, h2, p, ul
  margin-bottom: 1em

h1, h2, header
  font-family: 'Mystery Quest', cursive

h1
  font-size: xx-large

h2
  font-size: x-large

hr
  margin-bottom: 2em

ul
  padding-left: 2em
  list-style: disc

em
  font-style: italic

strong
  font-weight: bold

a
  color: lighten($blue, 50%)

body
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
  font-size: small
  background: black
  color: white
  +grid-container
  section
    +grid-row
    header
      +grid(12)
      +last
      font-size: xx-large
      margin-top: 1em
      margin-bottom: 1em
    .welcome
      +grid(6)
    form.new_message
      +grid(6)
      +last
      label, input[type="submit"]
        display: block
